/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: #fff;
    letter-spacing: 1px;
}
